<!DOCTYPE html>
<html>
<head>
<!-- General Settings -->
<meta charset="utf-8">
<meta http-equiv="content-language" content="en-us">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<base href="{global.baseUrl}" />
<link rel="stylesheet" type="text/css" href="https://aquigeorge.ddns.net/Assets/css/main.css" />
<link rel="stylesheet" type="text/css" href="public/elaborado.css" />
<!-- Modal CSS -->
<link rel="stylesheet" type="text/css" href="public/modal.css" />
<!--  Meta Tags -->
<title>{global.appName}</title>
<meta name="description" content="{head.description}">
<!-- Static Assets -->
<link type="image/x-icon" rel="icon" href="favicon.ico">
</head>
<body>
